.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.header h3{
    color: var(--primary-color);
}
.close_btn{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--border);
}

.form{
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.input_grp{
    display: flex;
    gap: .3em;
    flex-direction: column;
}
.input_grp input{
    padding: 1em;
    padding-left: 2em;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    background-color: var(--border);
}

.input_grp textarea{
    border: 1px solid var(--border-color);
    background-color: var(--border);
    padding: 1em;
    padding-left: 2em;
    border-radius: 1em;
}
.input_grp input:focus,
.input_grp textarea:focus{
    border-color: var(--grey);
}
.btn{
    margin-top: 1em;
    border-radius: 50px;
    padding: 1em;
    background-color: var(--primary-color);
    font-size: 1em;
    color: var(--white);
}

