.container{
    background-image: linear-gradient(45deg, rgba(0,0,0,.5), rgba(0,0,0,.75)), url(../assets/bg-6.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: min(90%, 500px);
    margin: 0 auto;
    text-align: center;
}
.wrapper h2, .wrapper p{
    color: var(--white);
}
.wrapper p{
    font-size: small;
}

.form{
    margin-top: 2em;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
}
.form input{
    padding: 1.25em;
    flex: 1;
    border: 0;
}
.btn{
    padding: 0 2em;
    background-color: var(--primary-color);
    color: var(--white);
}

@media screen and (max-width:850px){
    .form input{
        padding: 1em;
        padding-left: 1.25em;
    }
    .form{
        flex-direction: column;
        border-radius: unset;
        overflow: unset;
        gap: .5em;
    }
    .btn{
        padding: 1em;
    }
}